[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pydantic = "*"
flask-restful = "*"
stripe = "*"
firebase-admin = "*"
flask-cors = "*"
python-dotenv = "*"
"google.cloud" = "*"
google-cloud-tasks = "*"

[dev-packages]

[requires]
python_version = "3.8"
